<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Password Generator</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <style>      
    </style>

  </head>  

  <body class="text-center">

    <div id="generate">
      <form class="form-generate" v-on:submit.prevent="submitMethod">      
        <h1 class="h3 mb-3 font-weight-normal">Generate Password</h1>
        <label for="inputNumWords" class="sr-only">Number of words</label>
        <input type="number" id="inputNumWords" name="numwords" class="form-control" placeholder="number of words in pharse" required autofocus min="1" max="10">
        <label for="inputAcrostic" class="sr-only">Acrostic</label>
        <input type="text" id="inputAcrostic" name="acrostic" class="form-control" placeholder="acrostic" autofocus>           
        <label for="inputDelimiter" class="sr-only">Delimiter</label>
        <input type="text" id="inputDelimiter" name="delimiter" class="form-control" placeholder="delimiter" autofocus>     
        <button class="btn btn-lg btn-primary btn-block" type="submit">Generate</button>              
      </form>
    </div>

    <div id="check">
      <form class="form-strength" v-on:submit.prevent="submitMethod">      
        <h1 class="h3 mb-3 font-weight-normal">Password</h1>      
        <label for="inputPassword" class="sr-only">Password</label>           
        <input type="text" id="inputPassword" name="password" class="form-control" placeholder="password" required autofocus @change="passwordChanged">
        <div class="btn-group" style="width:100%">
          <button id="checkbtn" class="btn btn-lg btn-primary btn-block" type="submit">Check</button>                      
          <button style="width:33.3%" id="savebtn" class="btn" type="button" v-on:click="save_password">Save</button>
          <button style="width:33.3%" id="restorebtn" class="btn" type="button" v-on:click="restore_password">Restore</button>
          <button style="width:33.3%" id="deletebtn" class="btn" type="button" v-on:click="delete_password">Delete</button>  
        </div>        
      </form>
    </div>        
    
    <div id="strength-display" v-if="strength">               
      <div class="alert alert-light">
        <strong>Strength: </strong><span id="strength-description" v-bind:style="backgroundColor" >{{ strength.strength }}</span>     
      <div> 
      <div class="alert alert-warning" v-if="strength.feedback.warning">
        <strong>Warning: </strong>{{ strength.feedback.warning }}
      </div>
      <div v-for="suggestion in strength.feedback.suggestions">
        <div class="alert alert-warning">
          <strong>Suggestion: </strong>{{ suggestion }}
        </div>             
      </div>      
      <h2>Crack Times</h2>          
      <table class="table .table-bordered">
        <thead>
          <tr>
            <th>Method</th>
            <th>Time</th>          
          </tr>
        </thead>
        <tbody>
          <tr>            
            <td>Online throttling 100/h</td>
            <td>{{ strength.crack_times_display.online_throttling_100_per_hour }}</td>
          </tr>
          <tr>            
            <td>Online no throttling 1/s</td>
            <td>{{ strength.crack_times_display.online_no_throttling_10_per_second }}</td>
          </tr>
          <tr>            
            <td>Offline fast hashing 10,000,000,000/s</td>
            <td>{{ strength.crack_times_display.offline_fast_hashing_1e10_per_second }}</td>
          </tr>
          <tr>            
            <td>Offline fast hashing 10,000/s</td>
            <td>{{ strength.crack_times_display.offline_slow_hashing_1e4_per_second }}</td>
          </tr>        
        </tbody>
      </table>    
    </div>

    <div id="saverestore" class="btn-group" style="width:100%">
     
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript">    

      function strength_color(score) {
        const colors = [ "red", "orange", "yellow", "blue", "green" ];
        return colors[score];        
      }                  
       
      var strength = new Vue({
        el: "#strength-display",
        data: {
          strength: null, 
          backgroundColor: {            
          }          
        }
      });          

      function display_strength(str) {        
        strength.$data.strength = str;
        if (str) {
          strength.$data.backgroundColor.backgroundColor = strength_color(str.score);
        }
      }

      var generate = new Vue({
        el: "#generate",      
        methods: {
          submitMethod(e) {          
            const params = new URLSearchParams();
            params.append("delimiter", $("#inputDelimiter").val());
            params.append("numwords", $("#inputNumWords").val());
            params.append("acrostic", $("#inputAcrostic").val());
            axios({
              method: "post",
              url: "/generate",
              responseType: "json",
              data: params
            })
            .then(function (response) {                          
              $("#inputPassword").val(response.data.password);
              display_strength(response.data.strength);
            })
            .catch(function (error) {
              alert(error);
            });
            //e.preventDefault();
          }
        }
      });

      var check = new Vue({
        el: "#check",        
        methods: {
          submitMethod(e) {          
            const params = new URLSearchParams();
            params.append("password", $("#inputPassword").val());          
            axios({
              method: "post",
              url: "/check",
              responseType: "json",
              data: params
            })
            .then(function (response) {              
              display_strength(response.data);                         
            })
            .catch(function (error) {
              alert(error);
            });
            //e.preventDefault();
          },
          passwordChanged(val, oldVal) {            
            display_strength(null);
          },
          save_password: function (event) {
            if ($("#inputPassword").val()) {
              sessionStorage.setItem("password", $("#inputPassword").val());     
            } else {
              this.delete_password(event);
            }
          },
          restore_password: function (event) {
            var password = sessionStorage.getItem("password");               
            $("#inputPassword").val(password ? password : "");
            if (password) {
              this.submitMethod(null);
            }
          },
          delete_password: function (event) {
            sessionStorage.removeItem("password");     
          }        
        }        
      });          

    </script>
  </body>
</html>